<div class="container">
  <header class="header">
    <nav >
      <ul class="menu-logo">
        <li><a href="">logo</a> </li>
        <li><a href="">nombre</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="menu-principal">
        <li><a href="">Equipos</a>
          <ul class="submenu-principal">
            <li><a href="">Equipo2</a></li>
            <li><a href="">Equipo1</a></li>
            <li><a href="">Equipo3</a></li>
            <li><a href="">Equipo4</a></li>
          </ul>
        </li>
        <li><a href="">Competencias</a>
          <ul class="submenu-principal">
            <li><a href="">Competencia 1</a></li>
            <li><a href="">Competencia 2</a></li>
            <li><a href="">Competencia 3</a></li>
            <li><a href="">Competencia 4</a></li>
          </ul>
        </li>
        <li><a href="">Paises</a>
          <ul class="submenu-principal">
            <li><a href="">Pais1</a></li>
            <li><a href="">Pais2</a></li>
            <li><a href="">Pais3</a></li>
            <li><a href="">Pais4</a></li>
          </ul>
        </li>
        <li><a href="">Buscar</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">MAIN</main>
  <aside class="aside">ASIDE</aside>
  <footer class="footer">FOOTER</footer>
</div>

<router-outlet></router-outlet>
