.container {
    background: gray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2em 1fr 2em;
    grid-gap: 1.5m;
}

ul {
    list-style: none;
}



.header {
    border: 1px solid blue;    
    grid-row: 1;
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.menu-principal, .menu-logo {
    display: flex;
    padding: 0;
}

.menu-principal{
    & li {
        padding-left: 3em;
    }
}

.submenu-principal{
    position: absolute;
    padding: 0;
  
}


.main {
    border: 1px solid blue;
    grid-row: 2;
    grid-column: span 9;
}

.aside {
    border: 1px solid blue;    
    grid-row: 2 ;
    grid-column: 1 / span 3;
}

.footer {
    border: 1px solid blue;    
    grid-row: 3;
    grid-column: 1 / span 12;
}